{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="column is-half">
                <div class="playingCards fourColours rotateHand">
                    <ul class="table">
                    {% for card in deck.cards %}
                        <li>
                            <div class="card rank-{{ card.rank }} {{ card.suite }}"><span class="rank">{{ card.rank }}</span><span class="suit">&{{ card.suite }};</span></div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
