{% extends '@DeckTwigTemplates/base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block body %}
    <ul class="table">
        {% for card in game.deck.cards %}
            <li>
                <div class="card rank-{{ card.rank.value|lower }} {{ card.suite.value }}">
                    <span class="rank">{{ card.rank.value }}</span>
                    <span class="suit">&{{ card.suite.value }};</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
